<footer class="px-8 py-4 bg-principal text-dorado">
  <div
    class="max-w-7xl mx-auto flex flex-col justify-center items-center gap-8"
  >
    <span class="font-cinzel font-black italic text-sm md:text-base h-28">
      <a href="/">
        <img
          class="h-full w-auto object-cover hover:scale-110 transition-transform duration-200"
          src="/logo.png"
          alt="Catalina Romo - Logo"
        />
      </a>
    </span>

    <div>
      <ul class="flex flex-row justify-between items-center gap-4">
        <li>
          <nav>
            <a
              href="/"
              class="flex flex-row items-center gap-2 text-gris font-inter text-md font-light hover:text-dorado transition"
              aria-label="Instagram"
            >
              <svg class="w-8 h-8 p-1 bg-dorado rounded-xl">
                <use href="../icons/sprite.svg#instagram"></use>
              </svg>
            </a>
          </nav>
        </li>
        <li>
          <nav>
            <a
              href="/"
              class="flex flex-row items-center gap-2 text-gris font-inter text-md font-light hover:text-dorado transition"
              aria-label="Facebook"
            >
              <svg class="w-8 h-8 p-1 bg-dorado rounded-xl">
                <use href="../icons/sprite.svg#facebook"></use>
              </svg>
            </a>
          </nav>
        </li>
        <li>
          <nav>
            <a
              href="tel:+000000000"
              class="flex flex-row items-center gap-2 text-gris font-inter text-md font-light hover:text-dorado transition"
              aria-label="WhatsApp"
            >
              <svg class="w-8 h-8 p-1 bg-dorado rounded-xl">
                <use href="../icons/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </nav>
        </li>
      </ul>
    </div>

    <p class="text-lg font-playfair font-light">© 2025 Catalina Romo</p>
  </div>
</footer>
