---
import SocialMedia from "./SocialMedia.astro";

const { contacto } = Astro.props;
const contact = contacto.section[0].social;
---

<footer class="px-8 py-4 bg-principal text-dorado">
  <div
    class="max-w-7xl mx-auto flex flex-col justify-center items-center gap-8"
  >
    <span class="font-cinzel font-black italic text-sm md:text-base h-28">
      <a href="/">
        <img
          class="h-full w-auto object-cover hover:scale-110 transition-transform duration-200"
          src="/logo.png"
          alt="Catalina Romo - Logo"
        />
      </a>
    </span>

    <div>
      <ul class="flex flex-row justify-between items-center gap-4">
        <SocialMedia contact={contact} />
      </ul>
    </div>

    <p class="text-lg font-playfair font-light">© 2025 Catalina Romo</p>
  </div>
</footer>
