<ul
  class="flex flex-col md:flex-row justify-center md:gap-5 items-center font-playfair px-5 py-7"
>
  <li>
    <a
      class="menu-header hover:bg-dorado hover:text-principal"
      href="#servicios">Servicios</a
    >
  </li>
  <li>
    <a class="menu-header hover:bg-dorado hover:text-principal" href="#trabajos"
      >Trabajos</a
    >
  </li>
  <li>
    <a class="menu-header hover:bg-dorado hover:text-principal" href="#precios"
      >Precios</a
    >
  </li>
  <li>
    <a class="menu-header hover:bg-dorado hover:text-principal" href="#conoceme"
      >Conóceme</a
    >
  </li>
  <li>
    <a class="menu-header hover:bg-dorado hover:text-principal" href="#contacto"
      >Contacto</a
    >
  </li>
</ul>
