@import "tailwindcss";

@theme {
    /* Colors */
    --color-principal: #0D1B2A;
    --color-principal-lighter: #16263A;
    --color-principal-darker: #070F18;
    --color-dorado: #BFA05A;
    --color-gris: #E5E5E5;
    --color-gris-oscuro: #A0A0A0;
    --color-fondo: #f5cac3;
    --color-accent: #f28482;
    --color-button: #84a59d;
    --color-error: #eb3b3b; /* Red for error messages */
    --color-success: #4BB543; /* Green for success messages */

    /* Backgrounds */

    /* Fonts */
    --font-cinzel: Cinzel, serif;
    --font-playfair: Playfair, serif;
    --font-inter: Inter, sans-serif;

    /* Grids */
    --grid-cols-bento: repeat(auto-fit, minmax(320px, 1fr));
    --grid-rows-template: auto 1fr auto;

    /* Animations */

    --animate-fade-out: fade-out 1.5s ease-out forwards;
    --animate-slide-down: slide-down 0.3s ease-in-out forwards;
    --animate-slide-up: slide-up 0.3s ease-in-out forwards;
    
    /* Keyframes */
    @keyframes slide-up {
        0% { transform: scaleY(1); }
        100% { transform: scaleY(0); }
    }

    @keyframes slide-down {
        0% { transform: scaleY(0); }
        100% { transform: scaleY(1); }
    }

    @keyframes fade-out {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
}

.error-msg {
    @apply text-error text-xs;
}

.input-form {
    @apply block border border-dorado p-1 rounded-sm w-full my-1.5 font-inter text-gris font-extralight text-sm active:outline-dorado focus:outline-dorado;
}

.btn-banner {
    @apply px-4 py-2 bg-principal text-dorado rounded font-cinzel text-base font-medium transition hover:bg-principal border-2 border-dorado cursor-pointer md:bg-transparent;
}

.menu-header {
    @apply font-cinzel font-normal text-sm tracking-wider transition-colors px-3 py-1 rounded;
}

.menu-header.active {
    @apply text-principal bg-dorado;
}

.title-section {
    @apply font-cinzel uppercase text-center py-4 md:py-8 text-lg md:text-4xl font-normal bg-principal tracking-widest text-dorado transition-all duration-200;
}

.active-section {
    @apply text-principal bg-dorado;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}